.banner {
  width: 100%;
  height: 960px;
  position: relative;
  padding-bottom: 54px;
  overflow: hidden;
}

.banner__container {
  max-width: 1640px;
  height: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__image-lumen {
  position: absolute;
  width: 0px;
  height: 1302px;
  border-radius: 50%;
  transform: rotate(-54.31deg);
  left: 0;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner__image-lumen span {
  width: 79%;
  height: 59%;
  background: #c3dcff54;
  border-radius: 42%;
  box-shadow: 0px 46px 146px 66px #5186dd71;
}

.banner__text {
  max-width: 607px;
  height: 368px;
  margin-top: -47px;
  line-height: 1.08;
}

.banner__title {
  font-weight: var(--medium);
  font-size: 96px;
  margin-bottom: 21px;
}

.banner__title>span {
  color: #478BF9;
}

.banner__subtitle {
  font-weight: var(--medium);
  font-size: 32px;
  color: rgb(255, 255, 255, 60%);
  margin-bottom: 42px;
  position: relative;
  z-index: 3;
}

.banner__button {
  width: 393px;
  height: 72px;
  font-weight: var(--semiBold);
  font-size: 24px;
  border-radius: 48px;
  position: relative;
  z-index: 3;
}

.blog {
  width: 521px;
  ;
  height: 712px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_title {
  font-weight: var(--semiBold);
  font-size: 40px;
  margin-bottom: 22px;
}

.blog__content {
  height: 595px;
  width: 531px;
  border-radius: 100px;
  border: 3px solid #478BF9;
  display: flex;
  padding-left: 24px;
  padding-top: 19px;
  background-color: #36343b;
  overflow: hidden;
}

.blog__list-wrapper {
  position: relative;
  height: 500px;
  width: 467px;
}

.blog__list {
  position: absolute;
}

.blog__item {
  width: 467px;
  height: 146px;
  padding: 16px 64px;
  border-radius: 196px;
  background-color: #1E1231;
  margin-bottom: 16px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
}

.blog__item-text {
  font-weight: var(--regular);
  font-size: 24px;
  margin-bottom: 7px;
}

.blog__item-time {
  font-weight: var(--medium);
  font-size: 14px;
}

.lines {
  display: flex;
  position: relative;
  margin-left: 46px;
}

.lines:before {
  content: '';
  display: block;
  width: 100%;
  height: 33%;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #110A1D 49%, transparent 108%);
  z-index: 100;
}

.container__line1 {
  position: relative;
  width: 101px;
  height: 1334px;
  overflow: hidden;
  margin-right: 8px;
  filter: brightness(20%);
  z-index: 0;
}

.container__line2 {
  width: 101px;
  height: 1334px;
  overflow: hidden;
  margin-right: 8px;
  filter: brightness(70%);
}

.container__line3 {
  width: 101px;
  height: 1134px;
  overflow: hidden;
  filter: brightness(40%);
  position: relative;
  z-index: 0;
}

.wrapper__line {
  height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.second__line-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}


.first--line {
  animation: firstLine 5s linear infinite;
}

.second--line {
  animation: secondLine 5s linear infinite;
}

.third--line{
  animation: thirdLine 7s linear infinite;
}

.line__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

@keyframes firstLine {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes secondLine {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes thirdLine {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.blog__input-range {
  position: relative;
  width: 30px;
  top: 260px;
  left: -183px;
}

input[type="range"].range {
  position: absolute;
  cursor: pointer;
  width: 403px !important;
  -webkit-appearance: none;
  z-index: 200;
  width: 50px;
  border: 1px solid rgb(255, 225, 255, 12%);
  background-color: rgb(255, 225, 255, 12%);
}

input[type="range"].range:focus {
  border: 0;
  outline: none !important;
}

input[type="range"].range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 104px;
  height: 8px;
  background: #478BF9;
}

input[type="range"].range {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
